* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 20x;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #f4f4f4;
}

.row {
  width: 80%;
  margin-left: 10%;
}

/* .clearfix {
  zoom: 1;
}
.clearfix:after {
  content: ".";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
} */

/* ************************* */
/*           Top Nav         */

.menu-outer {
  background-color: #f4f4f4;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px 0;
  display: inline-flex;
  z-index: 20;
}
.table {
  display: table;
  margin: 0 auto;
}
.nav-list {
  display: table;
  margin: 0 auto;
  position: relative;
  top: 0;
  left: 0;
}

.table li {
  display: inline;
  margin: 20px 10px;
  list-style: none;
}
.table li a {
  text-decoration: none;

  color: black;
  border-bottom: 2px solid transparent;
}
.table li a:hover {
  border-bottom: 2px solid #a00da7;
}

.sign-in {
  /* position: absolute; */

  padding-right: 50px;
  padding-left: 10px;
  border-left: 1px solid black;
}
.sign-in a:link,
.sign-in a:visited {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}

.sign-in a:hover,
.sign-in a:active {
  border-bottom: 2px solid #a00da7;
}

/* ************************* */
/*     logo and add-listing  */

.logo-add-listing {
  width: 100%;
  position: fixed;
  top: 35px;
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: white;
}
.logo {
  margin-left: 20px;
  float: left;
}
.add-listing {
  float: right;
  background-color: #a00da7;
  margin: 20px 20px;
  width: 165px;
  text-align: center;
  line-height: 40px;
  vertical-align: center;
  height: 40px;
  font-weight: 500;
  border-radius: 5px;
  color: white;
}

/* ************************* */
/*    Header  */

.header-img-box {
  margin: 0;
  width: 100%;
  height: 610px;
  margin-top: 80px;
  background-image: linear-gradient(
      to right,
      rgba(160, 13, 167, 0.28),
      rgba(202, 10, 10, 0.4)
    ),
    url("./img/header.png");
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-text-box {
  position: relative;
  color: white;
  text-align: center;
  top: 25%;
  margin: 0 auto;
  align-items: center;
  font-size: 175%;
}

.header-text-box h1 strong {
  font-weight: 700;
}
.header-text-box h1 {
  font-weight: 400;
}
.header-text-box p {
  font-size: 90%;
  margin-bottom: 40px;
}

.search-city-box {
  background-color: rgba(255, 255, 255, 0.4);
  width: 38%;
  margin-left: 31%;
  text-align: left;
  padding: 16px 16px;
}
.search-btn {
  display: inline;

  /* width: 120px;
  height: 30px;
  float: right; */
  background-color: #a00da7;
  margin-left: 10px;
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 50%;
}

.input-group label {
  background-color: white;
  color: black;
  outline: none;
  border: none;

  font-size: 50%;
  font-weight: 600;
  display: inline-block;
  padding: 8px 8px;
}
.input-group label input {
  width: 220px;
  border: none;
  outline: none;
}
.input-group label:first-child {
  border-right: 2px solid grey;
}
.find-city {
  margin-left: -8px;
}
